<?xml version="1.0" encoding="utf-8" ?>
<ListmaConfiguration xmlns="urn:Listma:configuration"
					StatechartDir="IntegrationTestsData">
	<EntityWorkflow EntityType="Listma.Test.Order"
					StatechartId="OrderWorkflow1"
					InitialState="*"
					StateMap ="State" />
	<EntityWorkflow EntityType="OrderApproval"
					StatechartId="OrderApprovalWorkflow1"
					StateMap ="ApproveState" />
	<EntityWorkflow EntityType="Listma.Test.TestEntity"
					InitialState="Initial2"
					StatechartId="StartWorkflowTest"
					StateMap ="State"
			    StatechartMap ="Statechart"/>
</ListmaConfiguration> 
