<?xml version="1.0" encoding="utf-8" ?>
<ListmaConfiguration xmlns="urn:Listma:configuration"
					StatechartDir="IntegrationTestsData">
	<EntityWorkflow EntityType="Listma.Test.TestEntity"
					InitialState="Initial1"
					StatechartId="NotificationWorkflowTest"
					StateMap ="State"
				    StatechartMap ="Statechart"/>
</ListmaConfiguration> 
